.load{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 20%;
}
.aside >.container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
.aside > .container .table-responsive > table{
    color: white;
}
/* css Sidebar Left */
.aside .container .sidebar-left{
    width: 22%;
    margin-top: 10px;
    float: left;
}
.aside .container .sidebar-left div#sdleft > .card-body > form >.form-row{
    justify-content: space-between;
}
.aside .container .sidebar-left div#sdleft > .card-body > form >.form-row > .inputis > input{
    border-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: url(../image/sidebar-heading.png) center no-repeat;
    background-size: 100% 100%;
    color: white;
}
.aside .container .sidebar-left div#sdleft > .card-body > form > .form-row > label{
    margin-left: 5%;
    margin-top: 3%;
}
.aside .container .sidebar-left div#sdleft > .card-body > .botao{
    text-align: center;
    width: 100%;
}
.aside .container .sidebar-left  div#sdleft > .card-body > .botao > #entrar{
    width: 65%;
    height: 100%;
    border-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: url(../image/btn-login.png) center no-repeat;
    background-size: 100%;
}
.aside .container .sidebar-left  div#sdleft > .card-body > .botao > #entrar:hover{
    width: 65%;
    height: 100%;
    border-color: inherit;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: url(../image/btn-login-hover.png) center no-repeat;
    background-size: 100%;
}
.aside > .container .sidebar-left div#sdleft{
    max-width: 18rem;
    background: none;
    width: 100%;
}
.aside > .container .sidebar-left div#sdleft .card-body{
    width: 100%;
    height: 100%;
    background-color: rgba(46, 45, 43, 0.918);
    border-radius: 15px;
    box-shadow: -3px 1px 15px rgb(255, 255, 255);
}
.aside > .container .sidebar-left div#sdleft .card-body div.alert{
    background: url(../image/title4-bg.png) center no-repeat;
    background-size: 100%;
    text-align: center;
}
/* css Sidebar Right */
.aside .container .sidebar-right{
    width: 22%;
    margin-top: 10px;
    float: left;
}
.aside .container .sidebar-right #sdright{
    max-width: 18rem;
    background: none;
}
.aside .container .sidebar-right #sdright a img#down{
    background: url(../image/downloadbtn.png) center no-repeat;
    background-size: 100%;
    margin-left: 5%;
}
.aside .container .sidebar-right #sdright a img#down:hover{
    background: url(../image/downloadbtn-hover.png) center no-repeat;
    background-size: 100%;
    margin-left: 5%;
}
.aside .container .sidebar-right #sdright .card-body{
    width: 100%;
    height: 100%;
    background-color: rgba(46, 45, 43, 0.918);
    border-radius: 15px;
    box-shadow: 3px 1px 15px rgb(253, 253, 255);
}
.aside .container .sidebar-right #sdright .card-body div.alert{
    background: url(../image/title6-bg.png) center no-repeat;
    background-size: 100%;
    text-align: center;
}
/* Jumbotron */
.aside .container .jumbotron{
    width: 54%;
    height: 100%;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    float: left;
    background: none;
    margin-left: 1%;
    margin-right: 1%;
}
.aside .container .jumbotron > .container{
    width: 100%;
    padding: 5%;
    height: 100%;
}
.aside .container .jumbotron > .meio{
    background-color: rgba(46, 45, 43, 0.918);
    box-shadow: 3px 3px 15px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px
}
.aside .container .jumbotron > .container .meio{
    background-color: rgba(46, 45, 43, 0.918);
    box-shadow: 3px 3px 15px rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px
}
.aside .container .jumbotron > .container div.alert{
    background: url(../image/title3-bg.png) center no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
}
.aside .container .jumbotron div.meio div.alert{
    background: url(../image/title3-bg.png) center no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
}
/* css Cadastro */
span{
    color: white;
}
.aside .container .jumbotron > .meio .needs-validation#formulario .form-row label{
    display: block;
    font-weight: bold;
    font-size: 13px;
    padding-top: 2%;
    margin-left: 4%;
    color: white;
}
.aside .container .jumbotron > .meio .needs-validation#formulario .form-row label.nls{
    margin-left: 20%;
}
.aside .container .jumbotron > .meio .needs-validation#formulario .form-row .form-control{
    outline: none;
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 2%;
    border-radius: 10px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out .15s;
}
.aside .container .jumbotron > .meio .needs-validation#formulario .form-row{
    margin-bottom: 2%;
    width: 100%;
    justify-content: space-between;
}
.aside .container .jumbotron > .meio .needs-validation#formulario{
    margin-right: 10%;
    margin-left: 10%;
}
.aside .container .jumbotron > .meio .needs-validation#formulario .form-row .inputis{
    width: 60%;
    margin-right: 5%;
}
.aside .container .jumbotron > .meio .needs-validation#formulario .form-group .form-check{
    width: 100%;
    text-align: center;
    margin-left: 19%;
}
.aside .container .jumbotron > .meio form .btt{
    width: 100%;
    text-align: center;
    padding: 2%;
}
.aside .container .jumbotron > .meio form .btt > button{
    margin-right: 5%;
    margin-left: 5%;
    background: url(../image/slect_btn.png) center no-repeat;
    color: white;
}
/* css Ranking */
.aside .container .jumbotron > .meio .needs-validation#ranking{
    text-align: center;
    justify-content: space-between;
}
.aside .container .jumbotron > .meio .needs-validation#ranking > .form-row{
    justify-content: space-between;
    color: white;
}
.aside .container .jumbotron > .meio .needs-validation#ranking > button{
    margin-top: 2%;
    margin-bottom: 2%;
    background: url(../image/slect_btn.png) center no-repeat;
    color: white;
}
/* index card rank */
.aside .container .jumbotron > .meio nav div#nav-tab a {
    color: white;
    margin-bottom: 2%;
}
h5{
    color: white;
}
h6{
    color: white;
}
p.lead{
    color: white;
    text-align: justify;
    font-size: 22px;
}
/* .aside .container .sidebar-left div#sdleft .card-body {
    background: url(../image/btn-login-hover.png) center no-repeat;
} */