.footer{
    clear: both;
}
.footer .container #card{
    background: none;
}
.footer .container #card div#foot{
    text-align: center;
    margin-top: 5%;
}
.footer .container div#card div#foot .table-responsive table#tdfoot{
    margin-bottom: 0;
    color: white;
    font-size: 12px;
    text-align: left;
    width: 67%;
    margin-left: 24%;
}
.footer .container div#card div#foot .table-responsive table#tdfoot tbody tr td{
    vertical-align: inherit;
}